!!! 5
%html
  %head
    %link(rel="stylesheet" href="http://fonts.googleapis.com/css?family=Alegreya+Sans+SC:300" type="text/css")
    %link(rel="stylesheet" href="http://fonts.googleapis.com/css?family=Orbitron" type="text/css")
    %link(rel="stylesheet" href="stylesheets/style.css" type="text/css")
    %title WeatherPane
  %body
    %embed(src="assets/mainlanding.wav" hidden="true" autostart="true")
    %img(src="assets/load.gif" id="bg")
    #indexh1
      %h1 WEATHERPANE
    #indexh3
      %h3 Finding Your Location...
    %script(src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js")  
    %script(src='javascript/geolocation.js')