!!! 5
%html
  %head
    %link(rel="stylesheet" href="http://fonts.googleapis.com/css?family=Alegreya+Sans+SC:300" type="text/css")
    %link(rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet" type="text/css")
    %link(rel="stylesheet" href="stylesheets/style.css" type="text/css")
    %title WeatherPane
  %body
  #show=(background=@icon no-repeat center center fixed;)  
  #main
    #skycon
      %canvas=(height=64 id=@current_condition width= 64)
      